body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}body{background-color:#444}.box{margin:.5rem;_margin-top:3rem;float:left;border-style:solid;border-width:1px;padding:.5rem}.box_0{float:none;width:10rem;margin:auto}
/*# sourceMappingURL=main.d9fb78be.chunk.css.map */